.List{
    gap: 20px;
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}
#zdj{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.info{
    
    text-align: left;
}