*{
    background-color: aquamarine;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
footer{
    background-color: aqua;
    font-size: 30px;
    font-style:italic;
    
}
form{
    border: solid 1px black;
    margin: 20px;
    background-color: lightblue;
}