.user-contact {
  background-color: #f5f5f590;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
  position: absolute;
  top: 78%;
  right: 43.5%;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.UserContainer {
  width: 50%;
  float: left;
  display: flex;
}

.user-contact h3 {
  margin: 0 0 3px 0;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.contact-item {
  gap: 10px;
  margin: 10px 0;
  padding: 8px 0;
  color: #666;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-icon {
  color: #ff4a79;
  font-size: 16px;
}

.contact-item span {
  word-break: break-all;
}